@font-face {
    font-family: "range-mono";
    src: url("/assets/fonts/RangeMono-Light.woff2") format("woff2"),
         url("/assets/fonts/RangeMono-Light.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "range-mono";
    src: url("/assets/fonts/RangeMono-Regular.woff2") format("woff2"),
         url("/assets/fonts/RangeMono-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "range-mono";
    src: url("/assets/fonts/RangeMono-Medium.woff2") format("woff2"),
         url("/assets/fonts/RangeMono-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "range-mono";
    src: url("/assets/fonts/RangeMono-Semibold.woff2") format("woff2"),
         url("/assets/fonts/RangeMono-Semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "range-mono";
    src: url("/assets/fonts/RangeMono-Bold.woff2") format("woff2"),
         url("/assets/fonts/RangeMono-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

// Italic

@font-face {
    font-family: "range-mono";
    src: url("/assets/fonts/RangeMono-LightItalic.woff2") format("woff2"),
         url("/assets/fonts/RangeMono-LightItalic.woff") format("woff");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "range-mono";
    src: url("/assets/fonts/RangeMono-RegularItalic.woff2") format("woff2"),
         url("/assets/fonts/RangeMono-RegularItalic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "range-mono";
    src: url("/assets/fonts/RangeMono-MediumItalic.woff2") format("woff2"),
         url("/assets/fonts/RangeMono-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "range-mono";
    src: url("/assets/fonts/RangeMono-SemiboldItalic.woff2") format("woff2"),
         url("/assets/fonts/RangeMono-SemiboldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "range-mono";
    src: url("/assets/fonts/RangeMono-BoldItalic.woff2") format("woff2"),
         url("/assets/fonts/RangeMono-BoldItalic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
}
