// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 52rem;
  margin: 2rem 0;
  padding-left:  1rem;
  padding-right: 1rem;

  @media (min-width: $large-breakpoint) {
    padding-left:  2rem;
    padding-right: 2rem;
  }
}

header {
  margin-bottom: 4rem;
}

footer {
  margin-bottom: 2rem;
}
