// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.

ul.posts {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: 1rem;
  }
}

// Blog post or page title
.page-title,
.post-title,
.post-title a {
  color: $body-color;
}
.page-title,
.post-title {
  margin: 0;
}

// Meta data line below post title
.post-date {
  color: lighten($body-color, 40);
  display: block;

  @media (min-width: $large-breakpoint) {
    display: inline-block;
    margin: 0 1rem 0 0;
  }
}

.post-date-interior {
  text-align: right;
  float: right;
  margin: 0;
}

li.post-title a {
  display: block;
}

// Related posts
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-top: 1px solid $border-color;
}

.related-posts {
  padding-left: 0;
  list-style: none;

  h3 {
    margin-top: 0;
  }
}

p a {
  border-bottom: 1px solid lighten($body-color, 40);
}

.post-body {
  margin-top: 2rem;
}
